.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;

  width: auto;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  position: relative;
}

.mark_domain {
  position: absolute;
  bottom: 100px;
  right: 400px;
  font-size: 70px;
  text-decoration: none;
  color: #FFFFFF;
}

.mark_top_level_domain {
  position: absolute;
  bottom: 100px;
  right: 130px;
  font-size: 70px;
  text-decoration: none;
  color: #FFFFFF;
}

.vl {
  position: absolute;
  border-left: 10px solid white;
  height: 100px;
  bottom: 100px;
  right: 350px;
}